In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [84]:
import requests

def download(url, filename):
    response = requests.get(url)
    if response.status_code == 200:
        with open(filename, "wb") as f:
            f.write(response.content)
    else:
        print(f"Failed to download: {response.status_code}")

In [85]:
file_path= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-Coursera/laptop_pricing_dataset_mod1.csv"

In [87]:
async def download(url, filename):
    # Implement your download logic here
    # For example, using aiohttp or another async library
    pass

# Then use it in an async function
async def main():
    await download(file_path, "laptops.csv")
    file_name = "laptops.csv"
    df = pd.read_csv(file_name, header=0)
    print(df.info())
file_name="laptops.csv"
df = pd.read_csv(file_name, header=0)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      238 non-null    int64
 1   Manufacturer    238 non-null    object
 2   Category        238 non-null    int64
 3   Screen          238 non-null    object
 4   GPU             238 non-null    int64
 5   OS              238 non-null    int64
 6   CPU_core        238 non-null    int64
 7   Screen_Size_cm  234 non-null    float64
 8   CPU_frequency   238 non-null    float64
 9   RAM_GB          238 non-null    int64
 10  Storage_GB_SSD  238 non-null    int64
 11  Weight_kg       233 non-null    float64
 12  Price           238 non-null    int64
dtypes: float64(3), int64(8), object(2)
memory usage: 24.3+ KB
None

In [94]:
df = pd.read_csv(file_name, header=0)

In [95]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      238 non-null    int64
 1   Manufacturer    238 non-null    object
 2   Category        238 non-null    int64
 3   Screen          238 non-null    object
 4   GPU             238 non-null    int64
 5   OS              238 non-null    int64
 6   CPU_core        238 non-null    int64
 7   Screen_Size_cm  234 non-null    float64
 8   CPU_frequency   238 non-null    float64
 9   RAM_GB          238 non-null    int64
 10  Storage_GB_SSD  238 non-null    int64
 11  Weight_kg       233 non-null    float64
 12  Price           238 non-null    int64
dtypes: float64(3), int64(8), object(2)
memory usage: 24.3+ KB
None

In [96]:
df.head()

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.560,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837

In [97]:
df[["Screen_Size_cm"]] = np.round(df[['Screen_Size_cm']],2)
df.head()

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.56,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.62,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.62,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.78,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.62,1.8,8,256,1.91,837

In [98]:
# Write your code below and press Shift+Enter to execute 
missing_data = df.isnull()
print(missing_data.head())
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

   Unnamed: 0  Manufacturer  Category  Screen    GPU     OS  CPU_core  \
0       False         False     False   False  False  False     False
1       False         False     False   False  False  False     False
2       False         False     False   False  False  False     False
3       False         False     False   False  False  False     False
4       False         False     False   False  False  False     False

   Screen_Size_cm  CPU_frequency  RAM_GB  Storage_GB_SSD  Weight_kg  Price
0           False          False   False           False      False  False
1           False          False   False           False      False  False
2           False          False   False           False      False  False
3           False          False   False           False      False  False
4           False          False   False           False      False  False
Unnamed: 0
Unnamed: 0
False    238
Name: count, dtype: int64

Manufacturer
Manufacturer
False    238
Name: count, dtype: int64

Category
Category
False    238
Name: count, dtype: int64

Screen
Screen
False    238
Name: count, dtype: int64

GPU
GPU
False    238
Name: count, dtype: int64

OS
OS
False    238
Name: count, dtype: int64

CPU_core
CPU_core
False    238
Name: count, dtype: int64

Screen_Size_cm
Screen_Size_cm
False    234
True       4
Name: count, dtype: int64

CPU_frequency
CPU_frequency
False    238
Name: count, dtype: int64

RAM_GB
RAM_GB
False    238
Name: count, dtype: int64

Storage_GB_SSD
Storage_GB_SSD
False    238
Name: count, dtype: int64

Weight_kg
Weight_kg
False    233
True       5
Name: count, dtype: int64

Price
Price
False    238
Name: count, dtype: int64

In [106]:
avg_weight = df['Weight_kg'].astype('float').mean(axis=0)
df["Weight_kg"].replace(np.nan, avg_weight)

0      1.60
1      2.20
2      2.20
3      1.22
4      1.91
       ...
233    1.70
234    1.20
235    1.36
236    2.40
237    1.95
Name: Weight_kg, Length: 238, dtype: float64

In [107]:
common_screen_size = df['Screen_Size_cm'].value_counts().max()
df["Screen_Size_cm"].replace(np.nan,common_screen_size)

0      35.56
1      39.62
2      39.62
3      33.78
4      39.62
       ...
233    35.56
234    33.78
235    30.48
236    39.62
237    35.56
Name: Screen_Size_cm, Length: 238, dtype: float64

In [108]:
df["Weight_kg"]= df["Weight_kg"].astype('float')
df["Screen_Size_cm"]= df["Screen_Size_cm"].astype('float')

In [109]:
df["Weight_kg"]= df["Weight_kg"]/2.205
df.rename({'Weight_kg': 'Weight_pounds'},inplace = True)

df["Screen_Size_cm"] = df["Screen_Size_cm"]/2.54
df.rename({'Screen_Size_cm': 'Screen_Size_Inches'},inplace = True)

In [110]:
df['CPU_frequency'] = df['CPU_frequency']/df['CPU_frequency'].max()

In [111]:
bins = np.linspace(min(df["Price"]), max(df["Price"]),4)
group_names = ['low', 'medium','high']
df["Price-binned"] = pd.cut(df['Price'], bins, labels=group_names, include_lowest = True)

In [112]:
plt.bar(group_names, df["Price-binned"].value_counts())
plt.xlabel("Price")
plt.ylabel("count")
plt.title("Price bins")

Text(0.5, 1.0, 'Price bins')

In [113]:
dummy_variable1 = pd.get_dummies(df['Screen'])
dummy_variable1.rename({'IPS panel': 'Screen-IPS_panel','Full HD': 'Screen-Full_HD'}, inplace = True)
df = pd.concat([df, dummy_variable1], axis =1)

df.drop("Screen", axis = 1, inplace = True)

In [114]:
print(df.head())

   Unnamed: 0 Manufacturer  Category  GPU  OS  CPU_core  Screen_Size_cm  \
0           0         Acer         4    2   1         5       14.000000
1           1         Dell         3    1   1         3       15.598425
2           2         Dell         3    1   1         7       15.598425
3           3         Dell         4    2   1         5       13.299213
4           4           HP         4    2   1         7       15.598425

   CPU_frequency  RAM_GB  Storage_GB_SSD  Weight_kg  Price Price-binned  \
0       0.551724       8             256   0.725624    978          low
1       0.689655       4             256   0.997732    634          low
2       0.931034       8             256   0.997732    946          low
3       0.551724       8             128   0.553288   1244          low
4       0.620690       8             256   0.866213    837          low

   Full HD  IPS Panel
0    False       True
1     True      False
2     True      False
3    False       True
4     True      False